<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HEADER_KEY</key>
	<string>219d19ee586b4a049fafb28d3ecb7707</string>
	<key>BODY_KEY</key>
	<string>066d82458ed84eeeac28a86095ec88b9</string>
</dict>
</plist>
